<div class="container foreground-container">
  <div class="justify-content-md-center">Logo</div>
  <div class="row-pad row container">
    <div class="col-lg" style="background-color: red;">
      <p>
        Main stage
      </p>
      <div class="row">
        <div class="col">
          <mdb-card class="card-size">
            <!--Card image-->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
              alt="Card image cap"></mdb-card-img>
            <!--Card content-->
            <mdb-card-body>

              <!--Title-->
              <mdb-card-title>
                <h4>Card Title</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

              <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col">
          <mdb-card class="card-size">
            <!--Card image-->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
              alt="Card image cap"></mdb-card-img>
            <!--Card content-->
            <mdb-card-body>

              <!--Title-->
              <mdb-card-title>
                <h4>Card Title</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

              <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col">
          <mdb-card class="card-size">
            <!--Card image-->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
              alt="Card image cap"></mdb-card-img>
            <!--Card content-->
            <mdb-card-body>

              <!--Title-->
              <mdb-card-title>
                <h4>Card Title</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

              <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col">
          <mdb-card class="card-size">
            <!--Card image-->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
              alt="Card image cap"></mdb-card-img>
            <!--Card content-->
            <mdb-card-body>

              <!--Title-->
              <mdb-card-title>
                <h4>Card Title</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

              <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col">
          <mdb-card class="card-size">
            <!--Card image-->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
              alt="Card image cap"></mdb-card-img>
            <!--Card content-->
            <mdb-card-body>

              <!--Title-->
              <mdb-card-title>
                <h4>Card Title</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

              <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col">
            <mdb-card class="card-size">
              <!--Card image-->
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                alt="Card image cap"></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>
  
                <!--Title-->
                <mdb-card-title>
                  <h4>Card Title</h4>
                </mdb-card-title>
  
                <!--Text-->
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </mdb-card-text>
  
                <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
              </mdb-card-body>
            </mdb-card>
          </div>
      </div>
    </div>


    <div class="col-2" style="background-color: blue;">
      <div class="row row-pad">

        <a class="col h6 h6-responsive col-project">This is a project</a>
        <a class="col h6 h6-responsive col-project">This is a project</a>
        <a class="col h6 h6-responsive col-project">This is a project</a>
        <a class="col h6 h6-responsive col-project">This is a project</a>
        <a class="col h6 h6-responsive col-project">This is a project</a>

      </div>

      <p>Sidebar</p>
    </div>
  </div>
</div>