/* You can add global styles to this file, and also import other style files */
body {
    background-color: grey;
    // font-family: Tahoma, Geneva, sans-serif;
  }

.foreground-container {
    background-color: #FEFFFF;
    padding-bottom: 15px;
    // padding-top: 15px;
    // padding: 10px;
      // box-shadow: 5px 10px 8px #888888;
  }

.sidebar {
  margin-left: 15%;
  height: 200px;
  background: black;
}

.center-stage {
  width: 15%;
  height: 200px;
  background: red;
  float: left;
}

.row-projects {
  :visited {
    text-decoration: none;
  }
  :hover {
    color: gray;
  }
}

.row-pad {
  padding-top: 15px;
}

.title {
  float: center;
}

.card-size {
  width: 15rem;
  margin: 10px 0;
}